/* 
COMMON
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
}
h4 {
  font-size: 30px;
}

/* 
************

debug
 */
.containerjumbo {
  /* border: 1px solid black;
  width: 1200px;
  height: 750px; */
}

.titlejmb {
  /* border: 1px dashed black;
  height: 180px;
  margin-top: 20px; */
}

.startprova {
  /* border: 1px dashed black; */
}
.imgjmb {
  /* border: 1px dashed black; */
}

/* 
HEADER
 */

/* 
 navbar
 ******************
  */
nav {
  height: 80px;
  width: 100%;
  /* border: 2px dashed black; */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: center;
}

.ul-left {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
  padding-left: 30px;
}

.ul-right {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
  padding-right: 30px;
}

.inizia {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 30px;
  width: 70px;
  background-color: #0061ef;
}

/* 
navbar
 ******************
  */

/* 
  jumbotron
 ******************
  */

h1 {
  font-size: 75px;
}

.jumbotron {
  background-color: #b4d0e7;
  height: 700px;

  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.containerjumbo {
  width: 1100px;
}

.titlejmb {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.coljmb {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.startprova {
  display: flex;
  height: 320px;
  width: 400px;

  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.imgjmb {
  height: 400px;
  width: 900px;
  margin-top: 10px;
  flex-direction: row;
  background-image: url(img/img/jumbo.png);
  background-size: contain;

  background-repeat: no-repeat;
}

.btnstart {
  display: flex;
  color: white;
  height: 50px;
  width: 230px;
  background-color: #0061ef;
  align-items: center;
  justify-content: center;
}

.fa-arrow-down {
  font-size: 50px;
}

/* 
MAIN
 */

main {
  display: flex;
  justify-content: center;
}

main h2 {
  font-size: 35px;
}

main li {
  font-size: 15px;
}

main h3 {
  font-size: 23px;
}
/* 
******
1a section main
 */

.containerplan {
  display: flex;

  flex-direction: column;

  gap: 30px;
  /* border: 2px solid black; */
}

.container-price {
  display: flex;
  flex-direction: row;
  /* 
  border: 3px dashed green; */
  padding-top: 50px;
  justify-content: space-between;
}

.container-off-1 {
  display: flex;
  flex-direction: row;

  /* width: 300px; */
  /* height: 1500px; 

  /* border: 3px dashed rgb(26, 0, 128); */
}

.container-off-2 {
  display: flex;
  flex-direction: row;
  /* width: 300px; */
  /* height: 1000px;
  /* border: 3px dashed rgb(26, 0, 128); */
}

.container-off-3 {
  display: flex;
  flex-direction: row;
  /* width: 300px; */
  /* height: 1000px; */
  /* border: 3px dashed rgb(26, 0, 128); */
}

.container-off-4 {
  display: flex;
  flex-direction: row;
}

.selec-plan {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  padding-top: 50px;
}
.payment-plan {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-plan-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  display: flex;
  width: 15px;
  height: 15px;
  border: 3px solid #0061ef;
  border-radius: 15px;
}

.btn-2 {
  display: flex;
  width: 15px;
  height: 15px;
  border: 1px solid #d3d3d7;
  border-radius: 15px;
}
/* 
******
1a section main
 */

/* 
******
2a section main
 */

.group-user {
  display: flex;

  width: 250px;
  height: 40px;
  border-bottom: 1px solid #b9b9b9;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.group-user-extra {
  display: flex;

  width: 100%;
  height: 40px;
  border-bottom: 1px solid #b9b9b9;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.plan {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 850px;
  border: 1px solid #b9b9b9;

  gap: 5px;
}

.plan-extra {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #b9b9b9;

  gap: 5px;
}

.name-plan {
  display: flex;

  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.name-plan-extra {
  display: flex;

  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  padding-top: 20px;
}

.name-plan p {
  color: #b9b9b9;
}

.info-plan {
  padding-left: 20px;
}
.info-plan-extra {
  padding-left: 30px;
  padding-top: 30px;
}
.info-plan li {
  margin-top: 10px;
}

.buy {
  margin-top: 30px;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.btn-buy {
  display: flex;
  width: 200px;
  height: 40px;
  background-color: #0061ef;
  color: white;
  justify-content: center;
  align-items: center;
}

.section-extra {
  display: flex;
  justify-content: space-around;
}

.title-extra {
  position: relative;
  right: 140px;
}

.btn-buy-extra {
  display: flex;
  width: 200px;
  height: 40px;
  background-color: #0061ef;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 670px;
  bottom: 120px;

  margin-bottom: 30px;
}

.advanced {
  margin-top: 10px;
}

.last-part-plan {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 40px;
}

hr {
  width: 50px;

  margin-top: 30px;
}

.fa-check {
  color: #0061ef;
  font-size: 20px;
}

.highlights {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 20px;
  gap: 10px;
}

/* 
******
2a section main
 */

/* 
******
3a section main pt box partner!!!!!!!!!!!!!
 */

.container-2nd-part {
  display: flex;

  flex-direction: column;
  justify-content: center;
  gap: 30px;
  /* border: 2px solid black; */
  margin-top: 150px;
}

.container-partner {
  display: flex;

  /* background-color: violet; */
  width: 100%;
  height: 520px;
  margin-bottom: 100px;
}

.col-1 {
  /* border: 2px darkblue dashed; */
  width: 600px;
  background-image: url(img/img/partner.png);
  background-size: cover;
}

.col-2 {
  display: flex;
  flex-direction: column;
  gap: 25px;

  /* border: 4px solid red; */
  width: 300px;

  margin: 70px 40px;
}

.btn-partner {
  display: flex;
  width: 200px;
  height: 40px;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

/* 
******
4a section main pt box business
 */

.cont-box-row1,
.cont-box-row2 {
  width: 1000px;
  /* border: 1px solid salmon; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;

  padding-top: 30px;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  width: 100%;
  height: 500px;
  /* background-color: black; */
  /* border: salmon solid; */
}

.row-1 {
  background-image: url(img/img/business-feature-switching-tools.png);
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo2 {
  background-image: url(img/img/business-feature-send-files-it.png);
}

.photo3 {
  background-image: url(img/img/business-feature-coordinate-it.png);
}

.photo4 {
  background-image: url(img/img/business-feature-integrations-it.png);
}
.photo5 {
  background-image: url(img/img/business-feature-multi-device.png);
}

.photo6 {
  background-image: url(img/img/business-feature-security.png);
}
.row-2 {
  /* border: 1px solid black; */
  margin-top: 30px;
}

#container-team {
  display: flex;
  flex-direction: column;
  gap: 70px;
  /* border: 1px solid black; */
  width: 50%;
}
/* 
FOOTER
 */
